{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<script type ="module" src="{{ asset('asset/javascript/mediaChoice.js') }}"></script>
<script type="module" src="{{ asset('asset/javascript/mediaChoiceMediaForm.js') }}"></script>