{% extends 'base.html.twig' %}

{% block title %}Edit Media{% endblock %}

{% block body %}

    <h1>Edit Media</h1>
    {% set content = mediaEntity.type.name is same as("IMAGE")?"Image":"Video" %}
    {% include 'media/_media_'~ content ~ '.html.twig' %}
    {{ include('media/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_figure_show', {'slug': mediaEntity.figure.slug}) }}">back to list</a>

    {{ include('media/_delete_form.html.twig') }}
{% endblock %}
{% block javascript %}
{{ parent() }}
<script src=" {{ asset('asset/javascript/mediaChoice.js') }} "></script>
{% endblock %}