{{ form_start(form) }}
<div class="row">
    <div class="col">{{ form_row(form.name) }}
    </div>
    <div class="col"> {{ form_row(form.category) }}
    </div>
</div>
<div class="row">{{ form_row(form.description) }}</div>
<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
