{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.category) }}
<ul class="medium"
    data-index="{{ form.media|length > 0 ? form.media|last.vars.name + 1 : 0 }}"
    data-prototype="{{ form_widget(form.media.vars.prototype)|e('html_attr') }}">
    {% for media in form.media %}
        {% set mediaEntity = media.vars.value %}
            {% set content = mediaEntity.type.name is same as("IMAGE")?"Image":"Video" %}
        <li>{% include 'media/_media_'~ content ~ '.html.twig'%}</li>

        <div>{{ form_row(media.mediaChoice) }}</div>
        <li>{{ media.file is defined ? form_row(media.file) : null }}{{ media.video is defined ? form_row(media.video) : null }}</li>


    {% endfor %}
</ul>
<button type="button" class="add_image" data-collection-holder-class="medium">Add an image</button>
<button type="button" class="add_video" data-collection-holder-class="medium">Add a video</button>
<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<script src="{{ asset('asset/javascript/embedMedium.js') }}"></script>
