{% extends 'base.html.twig' %}

{% block title %}Figure{% endblock %}

{% block body %}
    <h1>Figure</h1>

    <table class="table">
        <tbody>

        <tr>
            <th>Name</th>
            <td>{{ figure.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ figure.description }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ figure.category.value|default(figure.category) }}</td>
        </tr>

        </tbody>
    </table>

    <a href="{{ path('app_figure_index') }}">back to list</a>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

        <a href="{{ path('app_figure_edit', {'slug': figure.slug}) }}">edit</a>

        {{ include('figure/_delete_form.html.twig') }}
    {% endif %}

    <div >
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <h3>Discutez de cette figure!</h3>

           {{ include('message/_form.html.twig') }}

        {% endif %}
        {% set messages = figure.messages %}
        {{ include('message/show.html.twig') }}

    </div>
{% endblock %}

