{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href=" {{ asset('asset/css/FigureHero.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/carroussel.css') }}">
{% endblock %}


{% block title %}{{ figure.name }}{% endblock %}

{% block body %}
    <div class="container-lg">

        <div class="d-flex justify-content-between mt-4 ">
            <div>
                <a href="{{ path('app_figure_index') }}" class=" btn btn-primary"> << back to list</a>
            </div>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="d-flex justify-content-end align-item-end">

                <span class="mx-2"> <a href="{{ path('app_figure_edit', {'slug': figure.slug}) }}"
                                       class="btn btn-warning ">Edit</a></span>

                    <span class="mx-2"> {{ include('figure/_delete_form.html.twig') }}</span>

                </div>
            {% endif %}
        </div>


        <div style="background-image: url({{ asset('default/homepage.jpg') }});"
             class="FigureHero my-3 rounded-3 d-flex flex-column justify-content-center">
            <H1 class="bg-light  bg-opacity-50 text-center opacity-100"> {{ figure.name }}</H1>
        </div>

        <div class="d-flex flex-column justify-content-around my-3" style="min-height: 20rem">
            <h2>Description :</h2>
            <p>{{ figure.description|nl2br }}</p>
            <div>
                <span class="badge bg-primary">{{ figure.category.value|default(figure.category) }}</span>
            </div>
        </div>
        <div class="my-4 justify-content-center d-flex">
            <a class="btn btn-primary" href="{{ path('app_media_new', {'slug': figure.slug}) }}">Add a new Figure</a>
        </div>


        <div class="container-fluid">
            {% if figure.media is not empty %}
                <div class="d-flex row mx-auto my-auto flex-row" style="width:100%">
                    <div id="recipeCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="false">
                        <div class="carousel-inner col container-fluid" role="listbox">
                            <div class="carousel-item active">
                                {% set mediaEntity =  figure.media.first %}
                                <div class="col-md-3">
                                    {% include ('media/_show.html.twig') %}
                                </div>
                            </div>

                            {% for mediaEntity in figure.media %}
                                <div class="carousel-item ">
                                    <div class="col-md-3">
                                        {% include ('media/_show.html.twig') %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev  w-aut" href="#recipeCarousel" role="button"
                           data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control-next  bg-transparent w-aut" href="#recipeCarousel" role="button"
                           data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                    </div>

                </div>
            {% endif %}
        </div>
        <div>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <h3>Leave a Message about this figure !</h3>

                {{ include('message/_form.html.twig') }}

            {% endif %}
            {% set messages = figure.messages %}
            {{ include('message/show.html.twig') }}

        </div>
    </div>

{% endblock %}

    {% block javascripts %}
        <script type="module" src="{{ asset('Assets/Js/MessagePagination.js') }}"></script>
        <script type="module" src="{{ asset('Assets/Js/Paginator.js') }}"></script>
        <script src="{{ asset('asset/javascript/carroussel.js') }}"></script>
        {{ parent() }}
    {% endblock %}
