{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href=" {{ asset('asset/FigureHero.css') }}">
{% endblock %}


{% block title %}{{ figure.name }}{% endblock %}

{% block body %}
    <div class="container-lg">

        <div class="d-flex justify-content-between mt-4 ">
            <div>
                <a href="{{ path('app_figure_index') }}" class=" btn btn-primary"> << back to list</a>
            </div>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="d-flex justify-content-end align-item-end">

                <span class="mx-2"> <a href="{{ path('app_figure_edit', {'slug': figure.slug}) }}"
                                       class="btn btn-warning ">Edit</a></span>

                    <span class="mx-2"> {{ include('figure/_delete_form.html.twig') }}</span>

                </div>
            {% endif %}
        </div>


        <div style="background-image: url({{ asset('default/homepage.jpg') }});"
             class="FigureHero my-3 rounded-3 d-flex flex-column justify-content-center">
            <H1 class="bg-light  bg-opacity-50 text-center opacity-100"> {{ figure.name }}</H1>
        </div>

        <div class="d-flex flex-column justify-content-around my-3" style="min-height: 20rem">
            <h2>Description :</h2>
            <p>{{ figure.description|nl2br }}</p>
            <div>
                <span class="badge bg-primary">{{ figure.category.value|default(figure.category) }}</span>
            </div>
        </div>
        <div>
            <a  class="btn btn-primary" href="{{ path('app_media_new', {'slug': figure.slug}) }}">Add a new Figure</a>
            {% for mediaEntity in figure.media %}
                {% include ('media/_show.html.twig') %}
            {% endfor %}
        </div>
        <div>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <h3>Discutez de cette figure!</h3>

                {{ include('message/_form.html.twig') }}

            {% endif %}
            {% set messages = figure.messages %}
            {{ include('message/show.html.twig') }}

        </div>
    </div>
{% endblock %}

    {% block javascripts %}
        <script type="module" src="{{ asset('Assets/Js/MessagePagination.js') }}"></script>
        <script type="module" src="{{ asset('Assets/Js/Paginator.js') }}"></script>
    {% endblock %}
