{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}
{% block stylesheets  %}
    {{ parent() }}
    <link rel="stylesheet" href=" {{ asset('asset/homepageHero.css') }}">

{% endblock %}
{% block body %}

    <div class="homepageHero container-fluid">
        <div class="bg-light bg-opacity-50 text-center px-4 py-1 rounded-3 shadow-lg">
        <h1 >Yo man ? Are YOU ready to take on the trickiest ride of the world?</h1><br/>
        <h2>This site is for you ! Discover the most popular and difficult trick of the book!</h2>
        </div>
    </div>

    {% include "figure/_figureList.html.twig" %}
    <div class="example-wrapper">
        {% if messages %}
            <h2>Espace de discussions</h2>
            {% if is_granted('IS_AUTHENTICATED') %}
                {% include('message/_form.html.twig') %}
            {% endif %}
            {% include('message/show.html.twig') %}
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}

    <script type="module" src="{{ asset('Assets/Js/MessagePagination.js') }}"></script>
    <script type="module" src="{{ asset('Assets/Js/Paginator.js') }}"></script>

    {{ parent() }}
{% endblock %}
