<table>
    {% if messages is empty %}
        <h2>There is no messsages</h2>
        <h4>Be the first to comment</h4>
    {% endif %}
    {% for message in messages %}
        <tr>
            <td><img src="{{ message.User.photo }}" alt="{{ message.User.username }} photo"/></td>

            <th>{{ message.User.username }}{{ message.createdAt|date }}</th>
            <td>{{ message.content }}</td>
        </tr>
    {% endfor %}
</table>
